<%= form_with(model: [ @recipe, comment ], local: true) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="field">
        <%= f.label :content %>
        <%= f.text_area :content %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>