<%= form_for @recipe do |f| %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="field">
        <%= f.label :name %>
        <br/>
        <%= f.text_field :name %>
    </div><br>
    
    <div class="field">
        <%= f.label :favorite %>
        <br/>
        <%= f.check_box :favorite %>
    </div><br>

    <div class="field">
        <% collection_check_boxes(:recipe, :category_ids, Category.all, :id, :name) do |b| %>
            <%= b.label { b.check_box } %>
        <% end %>
    </div><br>

    <div class="field">
        <%= f.submit 'Save' %>
    </div>

<% end %>