<%= form_for @recipe do |f| %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>
    <div class="field">
        <%= f.label :favorite %>
        <%= f.check_box :favorite %>
    </div>
    <div class="field">
        <%= f.label :public %>
        <%= f.check_box :public %>
    </div>
    <div class="field">
        <%= f.submit 'Create Recipe' %>
    </div>

<% end %>
