<% if @recipe.user.id == current_user.id %>
    <div class='container'>
        <div class='row'>
            <div class='col-md'>
                <h2><%= @recipe.name %></h2>
                <p><%= @recipe.description %><br>
                <% if @recipe.favorite == true %>
                    <small>(favorite)</small>
                <% end %><br>
                <% if @recipe.public == true %>
                    <small>(public)</small>
                <% end %>
                </p>
            </div>
            <div class='col-md'>
                <h5>Categories:</h5>
                <% @recipe.categories.each do |c| %>
                    <li><%= c.name %></li>
                <% end %>
            </div>
            <div class='col-md'>
                <div class="btn-group">
                    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), method: :get, class: "btn btn-secondary" %>
                    <%= button_to "Delete", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
                    <%= link_to 'All Recipes', recipes_path, method: :get, class: "btn btn-secondary" %>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg'>
                <% if @recipe.ingredients.any? %>
                    <hr>
                    <h3>Ingredients:</h3>
                    <ul><% @recipe.ingredients.each do |i| %>
                        <li><%= link_to i.name, recipe_ingredient_path(@recipe, i) %> (<%= i.quantity %> <%= i.unit %>)</li>
                    <% end %></ul>
                <% end %>

                <hr>

                <h4>Add an ingredient:</h4>
                <%= render 'ingredients/form', ingredient: @recipe.ingredients.build %>
            </div>
            <div class='col-lg'>
                <% if @recipe.steps.any? %>
                    <hr>
                    <h3>Instructions:</h3>
                    <ul><% @recipe.steps.each do |s| %>
                        <li><%= link_to s.description, recipe_step_path(@recipe, s) %></li>
                    <% end %></ul>
                <% end %>

                <hr>

                <h4>Add a step:</h4>
                <%= render 'steps/form', step: @recipe.steps.build %>
            </div>
        </div>
    </div>
<% else %>

    <h2><%= @recipe.name %></h2>
    <p><%= @recipe.description %><br>

    <h4>Add a comment:</h4>
    <%= render 'comments/form', comment: @recipe.comments.build %>

    <h4>All comments:</h4>
    <% @recipe.comments.each do |c| %>
        <%= c.content %><br>
    <% end %>

<% end %>