<%= form_with(model: [ @recipe, ingredient ], local: true) do |f| %>
    <%= f.hidden_field :recipe_id, value: @recipe.id %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :quantity %>
        <%= f.number_field :quantity %>
    </div>
    <div class="field">
        <%= f.label :unit %>
        <%= f.text_field :unit %>
    </div>
    <div>
        <%= f.submit %>
    </div>
<% end %>